#!/bin/bash

create_config_links() {
    configs_path=$BASE_PATH/config

    if [ -f "$HOME/.config/compton.conf" ]; then
        rm ~/.config/compton.conf
    fi
    ln -s $configs_path/compton/compton.conf ~/.config

    if [ -d "$HOME/.config/i3" ]; then
        rm -rf ~/.config/i3
    fi
    ln -sf $configs_path/i3 ~/.config

    if [ -d "$HOME/.config/i3status" ]; then
        rm -rf ~/.config/i3status
    fi
    ln -sf $configs_path/i3status ~/.config

    if [ -f "$HOME/.zshrc" ]; then
        rm ~/.zshrc
    fi
    ln -s $configs_path/zsh/.zshrc ~/
    if [ -f "$HOME/.oh-my-zsh/custom/themes/pmuse.zsh-theme" ]; then
        rm ~/.oh-my-zsh/custom/themes/pmuse.zsh-theme
    fi
    ln -s $configs_path/zsh/themes/pmuse.zsh-theme ~/.oh-my-zsh/custom/themes/
}

check_env_vars() {
    if [ -z "$GITHUB_NOTIFICATIONS_TOKEN" ]; then
        echo 'warning: GITHUB_NOTIFICATIONS_TOKEN env var is not set!'
    fi
}