#!/bin/bash

create_config_links() {
    configs_path=$BASE_PATH/config

    if [ -f "$HOME/.config/compton.conf" ]; then
        rm ~/.config/compton.conf
    fi
    ln -s $configs_path/compton/compton.conf ~/.config

    if [ -d "$HOME/.config/i3" ]; then
        rm -rf ~/.config/i3
    fi
    ln -sf $configs_path/i3 ~/.config

    if [ -d "$HOME/.config/i3status" ]; then
        rm -rf ~/.config/i3status
    fi
    ln -sf $configs_path/i3status ~/.config

    if [ -f "$HOME/.zshrc" ]; then
        rm ~/.zshrc
    fi
    ln -s $configs_path/zsh/.zshrc ~/
}